@import "tailwindcss";

@layer components{
    /* this is for div or main background of the  page  */
    .bg-gradient-primary{
        background-image: linear-gradient(to right, #DC1212, #D16B6B, #FABCBC, #F5F5F5);
    }
    .bg-gradient-secondary{
        background-image: linear-gradient(to top, #FABCBC, #d16b6b, #8b0606);
    }
    .bg-primary{
        @apply bg-[#ffd700];
    }
    .bg-primary-light{
        @apply bg-[#d6b715];
    }
    .bg-secondary{
        @apply bg-[#dc1212];
    }
    .bg-secondary-light{
        @apply bg-[#af2525];
    }
    .background-rare-1{
        @apply bg-[#fabcbc];
    }
    .background-rare-2{
        @apply bg-[#d16b6b];
    }
    .background-rare-3{
        @apply bg-[#d9d9d9];
    }
    .bg-side{
        @apply bg-[#a70505];
    }
    .bg-tertiary{
        @apply bg-[#8b0606];
    }

    /*this is for buttons background colors */
    .btn-danger{
        @apply bg-[#8b0606];
    }
    .btn-success{
        @apply bg-[#ffd700];
    }

    /* this for text colors */
    .text-gradient-primary{
        background-image: linear-gradient(to top, #ffd700,  #ffffff);
        color: transparent;
        background-clip: text;
    }
    .text-primary{
        @apply text-black;
    }
    .text-secondary{
        @apply text-white;
    }
    .text-info{
        @apply text-[#8b0606];
    }
    /* flex-layouts */
    .flex-jcenter{
        @apply flex justify-center;
    }
    .flex-icenter{
        @apply flex items-center;
    }
    .flex-center{
        @apply flex justify-center  items-center;
    }
    .flex-column{
        @apply flex flex-col;
    }
    .flex-rows{
        @apply flex flex-row;
    }

    .w-h-full{
        @apply w-full h-full;
    }
    .side li{
        @apply h-15 w-full flex  justify-center items-center text-[27px] gap-3 transition-colors duration-[.5s] cursor-pointer;
    }
    .side li:hover{
        @apply bg-[#0000001a] ;
    }
    .side li:hover div{
        @apply  text-white;
    }
    .side div{
        @apply w-[60%] text-white;
    }
    /* table */
    .table{
        @apply  w-full border-separate !border-spacing-0;
    }
     .table td, .table th{
        @apply !border-[1px] border-solid border-black h-10 text-center ;
    }
    .table th{
        @apply sticky top-0 z-10 bg-white  ;
    }
    .table td:first-child, .table th:first-child{
        @apply !border-l-0 ;
    }
    .table td:last-child, .table th:last-child{
        @apply !border-r-0;
    }
}

@layer utilities{
    /* this css code is for dashboard layouts of sidebar and main content */
    .layout{
        display: grid;
        width: 100%;
        height: 100vh;
        overflow-x: hidden;
        grid-template: 1fr / 270px 1fr;
        grid-template-areas: 
            "sidebar main"
        ;
    }
    .main{
        grid-area: main;
    }
    .sidebar{
        grid-area: sidebar;
    }

.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none;    
  }
  

}